body {
	background-color: #1E1E1E;
	line-height: 1.5em;
	margin: 0;
	font-size: 65%;
}
header {
	
    color: #000000;
    font-family: "Judson", serif;
    font-weight: 400;
    text-decoration: underline;
    font-size: 20px;
    padding: 30px 0px 2px 1px;
	margin-top: -40px;
	height: 100px;
	background-color: #FFFDF8;
	display: flex; 
    justify-content: center; 
    align-items: center;
}

header > h1 {
	font-weight: 300;
	display: inline-block;
}

.flex {
	display: flex;
}

.container {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	background-color: #000000;
}
.card{
	background-color: #000000;
	padding: 2em;
	border: 1px solid #d3a771;
	overflow: hidden;
	position: relative;

}
.card.soft {
	
	
}

.hidden {
	display: none;
}
img {
	max-width: 100%;
	vertical-align: middle;
    padding-bottom: 15px;
}

.media-image {
	max-width: 100%;
	vertical-align: middle;
}
main {
	padding: 0 30px;
	margin-top: 40px;
}
main:last-child {
	margin-top: 0;
}


